html {
  height: 100%;
  width: 100%;
}
header h1 {
  text-align: right;
  background-color: yellow;
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: green;
  min-width: 100%;
  min-height: 100%;
  margin:auto;
  border: 0;
  padding: 0;
  background-position: right;
}
aside h2 {
  text-align: left;
  display: inline
}
nav {
  float: right;
  width: 100%;
  text-align: left;
  padding:10px;
  padding-bottom: 9px;
  background-color: green:
  position: relative;
}
nav ul {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left:35px;
  left:50%;
}
#content p{
  margin: auto;
}
aside ul {
  margin: auto;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
    color: white;
    font-size: 20px;
    padding: 10px 43px;
    background-color: #000000;
    text-align: center;
    text-decoration: none;
}
aside{
  float: right;
  width: 24%;
  height: 560px;
  text-align: left;
  position: relative;
  background-color: white;
  background-image: url('http://www.literarygenius.info/images/william-shakespeare.jpg');
  background-repeat: no-repeat;
  background-position: 50% 65%;
  background-size: 220px;
}
#content h1{
  display: inline;
}
#content{
  float: left;
  width: 65%;
  height: 500px;
  background-color: grey;
  position: relative;
  padding-right: 11%;
  border-style: hidden;
}
#content ul{
  text-align:center;
  list-style-type: none;
  margin: auto;
}

footer{
  float: left;
  left: 10px;
  width: 76%;
  height: 60px;
  position: relative;
}
